<mat-card class="example-card">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <mat-card-header class="text-center">
      <mat-card-title>eLearning</mat-card-title>
      <mat-card-subtitle>Search courses by filters</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="full-width text-center">
      <form [formGroup]="filterForm" (submit)="onSearch(filterForm)">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput value="" formControlName="title" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Author</mat-label>
          <input matInput value="" formControlName="author" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Select an category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let option of categoryOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="text-center">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>search</mat-icon>
            Search
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
