<mat-card class="example-card">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <mat-card-header class="text-center">
      <mat-card-title>eLearning</mat-card-title>
      <mat-card-subtitle>Search courses by filters</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="full-width text-center">
      <form [formGroup]="loginForm" (submit)="onLogin(loginForm)">
        <mat-form-field class="form-input">
          <mat-label>Title</mat-label>
          <input matInput value="" formControlName="username" required>
        </mat-form-field>

        <mat-form-field class="form-input">
          <mat-label>Author</mat-label>
          <input matInput type="password" value="" formControlName="password" required>
        </mat-form-field>

        <mat-form-field class="form-input">
          <mat-label>Category</mat-label>
          <input matInput type="password" value="" formControlName="password" required>
        </mat-form-field>

        <div class="text-center">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>search</mat-icon>
            Search Courses
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
