.example-card {
  width: 500px;
}

.card-container{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-link-container {
  text-align: right;
  float: right;
  padding: 5px 10px;
}

